:root {
	--cell-size:   100px;
   --color-white: #ffffff;
   --color-x:     #74ff8b;
   --color-o:     #74eaff;
	--color-hover: #2d9e95;
	--color-btn:   #1c645d;
   --color-bg:    #185751;
}

* {
   transition: background-color 0.6s ease, color 1s ease;
}

body {
   margin: 0 auto;
   background-color: var(--color-bg);
}

.title {
   color: var(--color-white);
   text-align: center;
   font-size: 40px;
}

.display {
   color: var(--color-white);
   text-align: center;
   font-size: 24px;
   margin-bottom: 20px;
}

.hide {
   display: none;
}

.container {
   max-width: 300px;
   display: grid;
   grid-template-columns: repeat(3, auto);
   grid-template-rows: repeat(3, auto);
   margin-left: auto;
   margin-right: auto;
}

.cell {
	min-width: 100px;
   min-height: 100px;
	border: 1px solid var(--color-white);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
   font-size: 50px;
}

.cell:hover {
   background-color: var(--color-hover);
}

/* remove border for edges */
.cell:nth-child(1), .cell:nth-child(2), .cell:nth-child(3) {
	border-top: none;
}

.cell:nth-child(1), .cell:nth-child(4), .cell:nth-child(7) {
	border-left: none;
}

.cell:nth-child(3), .cell:nth-child(6), .cell:nth-child(9) {
	border-right: none;
}

.cell:nth-child(7), .cell:nth-child(8), .cell:nth-child(9) {
	border-bottom: none;
}

.player-x {
   color: var(--color-x);
}

.player-o {
   color: var(--color-o);
}

.controls {
   display: flex;
   cursor: pointer;
   justify-content: center;
   margin-top: 20px;
   margin-bottom: 40px;
}

.reset {
   background-color: var(--color-btn);
   color: var(--color-white);
   width: 80px;
   height: 40px;
   font-size: 20px;
   border: none;
   border-radius: 8px;
   cursor: pointer;
}

.reset:hover {
   background-color: var(--color-hover);
}

/* dark-light theme switch */
.switch {
   width: 35px;
   display: flex;
   align-items: center;
   justify-content: center;
}
 
.switch div {
   position: relative;
   display: block;
   background: #eee;
   width: 30px;
   border-radius: 50px;
   padding: 0 5px;
   box-sizing: border-box;
   cursor: pointer;
}
 
.fa-adjust {
   transform: rotate(180deg);
}
 
.switch input {
   display: none;
}
 
.slider {
   background-color: #999;
   transition: 0.4s;
   border-radius: 34px;
   height: 12px;
   width: 12px;
   display: inline-block;
   position: relative;
}
 
input:checked + .slider {
   transform: translateX(8px);
}
 
nav {
   background: var(--color-btn);
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
   position: relative;
}
 
nav ul {
   list-style-type: none;
}
 
nav ul {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   flex-wrap: wrap;
   height: 50px;
   padding: 0 10px;
}
 
nav ul li {
   padding: 12px 10px;
   cursor: pointer;
   transition: background 0.3s ease;
   border-radius: 4px;
   position: relative;
}
 
nav ul li:hover {
   background-color: var(--color-hover);
}

.light-theme {
   --color-white: #000000;
   --color-x:     #00ff55;
   --color-o:     #8c00ff;
	--color-hover: #31e0ff;
	--color-btn:   #9bf2ff;
   --color-bg:    #ffffff;
}

.dark-theme {
   --color-white: #ffffff;
   --color-x:     #74ff8b;
   --color-o:     #74eaff;
	--color-hover: #2d9e95;
	--color-btn:   #1c645d;
   --color-bg:    #185751;
}